In [4]:
x=20
try:
    print(x)
except:
    print("error has been occurred")
else:
    print("nothing wrong")
finally:
    print("finally print")

20
nothing wrong
finally print

In [5]:
int(input("enter the number"))
########during run time#####

enter the number arjun

ValueError: invalid literal for int() with base 10: 'arjun'

In [10]:
###exception is use for terminate the program 
####print("print the message")
####exception will not be exeucte the program iif program has any type of error

try:
    num_1=45
    num_2=34
    division=num_1/num_2
except ZeroDivisionError:
    print("no")

In [11]:
li=[1,2,3]
li[4]

IndexError: list index out of range

TypeError: 'set' object is not subscriptable

In [19]:
try:
    y=11.35
    z=int(y)
    print(8+y)
    print(y/z)

except NameError:
    print("nameerror")

except ValueError:
    print("Valueerror")


except ArithmeticError:
    print("Arithmeticerror")


except TypeError:
    print("Typeerror") 

finally:
    print("finally")

19.35
1.0318181818181817
finally

In [20]:
try:
    num_1=30
    num_2=0
    division=num_1/num_2
except Exception as e:
    print(e)

division by zero

In [22]:
num_1=int(input("enter the num"))
num_2=int(input("enter the num"))

try:
    if num_1==0:
        raise Exception("num_1 should not be zero")
    else:
        sum=num_1+num_2
        print(sum)

except Exception as e:
    print(e)

enter the num 8
enter the num 9

17

In [27]:
num_1=int(input("enter the num"))
num_2=int(input("enter the num"))

try:
    if num_1==0:
        raise Exception("num_1 should not be zero")
    else:
        sum=num_1+num_2
        print(sum)

except Exception as m:
    print(m)

else:
    print("finally")

enter the num 0
enter the num 90

num_1 should not be zero

In [ ]:
try:
    number=input("enter the number")
    if number=="string":
        raise Exception("value error"
    else

NameError: name 'l1' is not defined

In [ ]:
####Keyboard errror -
##nameError

In [7]:
var_1=90
var_2=0
print(var_1/var_2)

##Zero division error

ZeroDivisionError: division by zero

In [ ]:
###Try-use for risky code.........
###except-handling any type of error.........

try:
    a=

In [29]:
####File--Filer are named locations 
####w-write
f=open('hello.txt','w')
f.write('line 1 is a line written by w')
f.close()

In [30]:
f=open('hello.txt','r')
f.write('line 1 is a line written by w')
f.close()

UnsupportedOperation: not writable

In [31]:
########second method but it doesn't require to close

with open('sample.txt','w') as f:
    var=f.write("hello")
    print(var)

5

In [36]:
f=open('hello.txt','r')
print(f.read())
f.close()

line 1 is a line written by w

In [41]:
f=open('hello.txt','a')
f.write('\n 2nd line ')
f.close()

In [42]:
f=open('hello.txt','r')
print(f.read())
f.close()

line 1 is a line written by wline 1 is a line written by w
line 1 is a line written by
 2nd line

In [45]:
with open('hello.txt','r+') as f:
    print(f.read())
    f.write("\n writete by r+ arjun")

line 1 is a line written by wline 1 is a line written by w
line 1 is a line written by
 2nd line
 writete by arjun

In [55]:
with open('sample.txt','w+') as f:
    f.write("\n test of w+ mode")
    f.write("\n written by w+ mode")
    print(f.tell()) ##current position of pointer
    f.seek(9)  ###to bring the position of cursor to at any point
    print(f.tell())
    text=f.read()
    print(text)

39
9
f w+ mode
 written by w+ mode

In [68]:
with open('pthon.text','w+') as f:
          f.write("line1")
          f.write("\nline2")
          f.write("\nline3")
          f.write("\nline4")
          print(f.read())
          print(f.tell())
          print(f.seek(0))
          print(f.read())

26
0
line1
line2
line3
line4