In [2]:
a='string'
b=(a)
print(a)

string

In [6]:
a=23/3
print(a)

7.666666666666667

In [4]:
#FLoor division
a=23//3
print(a)

7

In [7]:
# Assignmnet operator


a=10
a+=5
print(a)

15

In [8]:
#
a=1098345
a.count()
print(a)

AttributeError: 'int' object has no attribute 'count'

In [9]:
a=1098345
b=a%10
print(b)

5

In [11]:
a=1098345
a=a//10
print(a)

109834

In [12]:
a=str(a) #type conversion
len(a)
print(a)

109834

In [14]:
v=int()
v

0

In [17]:
print(zip.__doc__)

zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.

   >>> list(zip('abcdefg', range(3), range(4)))
   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

The zip object yields n-length tuples, where n is the number of iterables
passed as positional arguments to zip().  The i-th element in every tuple
comes from the i-th iterable argument to zip().  This continues until the
shortest argument is exhausted.

If strict is true and one of the arguments is exhausted before the others,
raise a ValueError.

In [18]:
print(int.__doc__)

int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [20]:
a=(25=>23)
print(a)

SyntaxError: invalid syntax (4143398846.py, line 1)

In [21]:
a=45>=23
print(a)

True

In [24]:
a=not(25)
a

False

In [26]:
bool(25)

True

In [27]:
#Logical operators---->and,or,not

23 and 56

56

In [28]:
34 or 0

34

In [31]:
a=23>10 and 43>54
print(a)

False

In [32]:
a=True or True and False
a

True

In [33]:
b=10
a=2 < 3 and 5 < b or 100>40
a

True

In [38]:
#Identity operators-------->is

a=33
b=33
c=a==b
print(c)
d= a is b
print(d)#it returns true if object refer to same reference object

True
True

In [39]:
# Membership oprators------>in,not in

a='I am a programmer'
b='a' in  a
print(b)

True

In [42]:
c=[23,333,433,4,3,3]
a=23 in c
print(a)

True

In [44]:
#strings and methods

# way to declare a method

a='Test String'
b="Test string 2"
c=''' This
is
string triel quotes '''
d="""this is
triples 
quotes"""
print(a)
print(b)
print(c)
print(d)

Test String
Test string 2
 This
is
string triel quotes
this is
triples
quotes

In [45]:
c

' This\nis\nstring triel quotes '

In [49]:
a='this is \
hello \
world'
print(a)

this is hello world

In [50]:
#escape sequence character

#\n -new line
#\t-tab space
#\b-deleter the before character
#\-use for normal use

In [51]:
a='this is test\r'
print(a)

this is test

In [53]:
a='this is test\r ram'
print(a)

 ram is test

In [54]:
print(str.__doc__)

str(object='') -> str
str(bytes_or_buffer[, encoding[, errors]]) -> str

Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).
encoding defaults to sys.getdefaultencoding().
errors defaults to 'strict'.

In [55]:
st="arjun"
st.reverse()
print(st)

AttributeError: 'str' object has no attribute 'reverse'

In [56]:
st="arjun"
reverse(st)
print(st)

NameError: name 'reverse' is not defined

In [57]:
for i in range(5):
    print(i)

0
1
2
3
4

In [58]:
i=0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

In [61]:
#For Loop is for iteration of sequence data or collection data (both same)

#for i in--->for loop
fruits=["apple","banana","cake"]
for i in fruits:
    print(i)

apple
banana
cake

In [67]:
fruits=["apple","banana","cake"]
for i in fruits:
    if i=="banana":
        break
    print(i)

apple

In [68]:
fruits=["apple","banana","cake"]
for i in fruits:
    if i=="banana":
        continue
    print(i)

apple
cake

In [69]:
a='Dilip'
'i' in a

True

In [82]:
name=["Priaya","Khushi","pinki","mohan","karnal","sarange"]
for i in name:
    if 'i' not in i:
        continue
    print(i)

Priaya
Khushi
pinki

In [80]:
name=["Priaya","Khushi","pinki","mohan","karnal","sarange"]
for i in name:
    if 'i' not in i:
        continue
    print(i)

mohan
karnal
sarange

In [84]:
name=["Priaya","Khushi","pinki","mohan","karnal","sarange"]
for i in name:
    if 'i' in i:
        print(i)

Priaya
Khushi
pinki

In [ ]:
####while loop


a=1
while a<10:
    print(a)
    a += 1

In [ ]:
a=1
while a<10:
    print(a)
    a += 1