In [2]:
a=54454545

In [3]:
type(a)

int

In [4]:
if a>4:
    print("a is greater than a");

a is greater than a

In [5]:
a=3
if a>4:
    print("a is grater than a")
else:
    print("a is not greater than a")

a is not greater than a

In [6]:
a=40 if 10>30 else 100
print(a)

100

In [9]:
# add two numbers

n1=input("enter the value")
n2=input("enter the value")
n3=n1+n2
print(n3)
print(type(n3))

enter the value 23
enter the value 23

2323
<class 'str'>

In [10]:
# Data types of python

#str-string
#int-Integer-number
#flaot-number
#complex-imaginary number

In [12]:
a=234
b=234
c=234
print(id(a))
print(id(b))
print(id(c))

2391355170320
2391355170320
2391355170320

In [14]:
b=True
c=True
print(b)
print(c)

True
True

In [15]:
b=[2,3]
c=[2,3]
d=[2,3]
print(id(b))
print(id(c))
print(id(d))

2391456874432
2391456856960
2391456868096

In [19]:
a=frozenset((2,3))
b=frozenset((2,3))
c=frozenset((2,3))
print(id(a))
print(id(b))
print(id(c))

2391432650912
2391452188256
2391457383584

s

In [24]:
t=(3,)
print(type(t))

<class 'tuple'>

In [25]:
t=touple()
print(t)

NameError: name 'touple' is not defined

In [27]:
t=tuple()
print(t)

()

In [29]:
a=255
b=34.59
c=a+b
print(c)
print(type(c))

289.59000000000003
<class 'float'>